<%- include('../partials/header.ejs') %>

<div class="container mt-5">
    <h2>Checkout</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <% cart.forEach(item => { %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.quantity %></td>
                <td><%= item.price %>$</td>
                <td><%= item.price * item.quantity %>$</td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <div class="text-right">
        <h4>Total: <%= cart.reduce((sum, item) => sum + (item.price * item.quantity), 0) %>$</h4>
        <form action="/checkout" method="POST">
            <button type="submit" class="btn btn-success">Complete Purchase</button>
        </form>
    </div>
</div>


<%- include('../partials/footer.ejs') %>